<h1>Clubs</h1>

<table class="fact-sheet">
<% @clubs.each do |club| %>
  <tr class="fact-major">
    <td><%= link_to club.name, club %></td>
    <td>:</td>
    <td align="right"><%= pluralize(club.swimmers.size, 'swimmer') %></td>
  </tr>
<% end %>
</table>

<br><hr>
<%= link_to_if can?(:create, Club), 'New Club', new_club_path %>
