<% content_for :level do %>
  <h3>Clubs</h3>
  <ul><%= render Club.all %></ul>
<% end %>

<h3><%= link_to 'Clubs', clubs_path %></h3>

<h1><%= @club.name %></h1>

<p>
  <b>Contact:</b>
  <%= @club.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>
<hr/>
    *** <%= link_to 'Club Records', results_path(club_id: @club) %> ***
    <%= link_to 'Club Strokes', strokes_path(club_id: @club) %> ***
<hr/>

<h3>Swimmers.</h3>

<%= pluralize(@club.swimmers.load.size, 'swimmer') %>:
<% @club.swimmers.group_by(&:gender).each do |gender, swimmers| %>
  <%= pluralize(swimmers.size, boy_or_girl(gender)) %>
<% end %>
<br />
<br />

<% @club.swimmers.group_by(&:gender).each do |gender, swimmers| %>
<div style="float: left">
<table class="fact-sheet">
<th>ID</th>
<th>Swimmer (<%= gender %>)</th>
<th>Birthdate</th>
<%= render partial: "club_swimmer", collection: swimmers %>
</table>
</div>
<% end %>
<br style="clear: left;"/>
<hr />

<% if can? :create, Swimmer %>
  <%= link_to 'New Swimmer', new_swimmer_path(club_id: @club) %>
  <hr/>
<% end %>

<h3>Recent Invitations.</h3>
<ul>
<%= render @invitations.select { |x| x.competition.date.to_datetime > 1.year.ago }.reverse %>
</ul>
... see <%= link_to "all invitations", invitations_path(club_id: @club) %>.

<hr/>

<%= link_to_if can?(:update, @club), 'Edit', edit_club_path(@club) %> |
<% if can? :destroy, @club %>
  <%= link_to 'Destroy', @club, method: :delete, data: { confirm: 'Are you sure?' }  %> |
<% end %>
<%= link_to 'Back', clubs_path %>
<br />
<br />
