<%= form_with(model: seat, local: true) do |form| %>
  <% if seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
      <% seat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :relay_id %>
  <%= form.hidden_field :docket_id %>

  <div class="field">
    <%= form.label :pos, "Position" %>
    <%= form.select :pos, 0..4 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
