<p>
  <strong>Swimmer:</strong>
  <%= @seat.swimmer %>
</p>

<p>
  <strong>Relay:</strong>
  <%= @seat.relay %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @seat.pos %>
</p>

<% if can? :update, @seat %>
  <%= link_to 'Edit', edit_seat_path(@seat) %> |
<% end %>
<% if can? :destroy, @seat %>
  <%= link_to 'Destroy', @seat, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @seat.invitation %>
