<h1>Disciplines</h1>

<% @disciplines.group_by(&:course).each do |course, disciplines_course| %>

  <h2><%= { 'SC' => "Short", 'LC' => "Long", 'TC' => "Tiny" }[course] %> Course</h2>

  <ul>
  <% disciplines_course.sort_by(&:mode).group_by(&:mode).each do |mode, disciplines_mode| %>
  <% disciplines_mode.sort_by { |x| Discipline::STROKES.index(x.stroke) }.group_by(&:stroke).each do |stroke, disciplines| %>

  <li><b><%= disciplines.first.stroke_in_words %>:</b>
  <%= raw disciplines.sort_by(&:distance).map { |discipline| link_to(discipline.distance_in_words, discipline) + " [#{discipline.events.size}|#{discipline.qualification_times.size}]" }.to_sentence %>.
  </li>

  <% end %>
  <% end %>
  </ul>
<% end %>

<hr />
<% if can? :create, Discipline %>
  <%= link_to 'New Discipline', new_discipline_path %>
<% end %>
