<%= form_with(model: qualification_time, local: true) do |form| %>
  <% if qualification_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qualification_time.errors.count, "error") %> prohibited this qualification_time from being saved:</h2>

      <ul>
      <% qualification_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :qualification_id %>

  <h3><%= @qualification_time.qualification.name %></h3>

  <div class="field">
    <%= form.label :discipline %><br />
    <%= fields_for 'discipline' do |disc_form| %>
      <%= disc_form.select :distance, Discipline::DISTANCES, include_blank: true %>
      <%= disc_form.select :course, Discipline::COURSES %>
      <%= disc_form.select :stroke, Discipline::STROKES, include_blank: true %>
      <%= disc_form.select :mode, Discipline::MODES %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, Swimmer::GENDERS, include_blank: true %>
  </div>
  <div class="field">
    <%= form.label :age_min, "Age from" %>
    <%= form.text_field :age_min, size: 2 %>
    <%= form.label :age_max, "to" %>
    <%= form.text_field :age_max, size: 2 %>
  </div>
  <div class="field">
    <%= form.label :time -%>
    <%= fields_for 'time' do |time_form| %>
      <%= time_form.text_field :mins, size: 2 %>:
      <%= time_form.text_field :secs, size: 2 %>.
      <%= time_form.text_field :cens, size: 2 %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
