<h1>Editing Qualification Time</h1>

<%= render 'form', qualification_time: @qualification_time %>

<%= link_to 'Show', @qualification_time %> |
<%= link_to 'Back', @qualification_time.qualification %>
