<h3>
  <%= @qualification_time.qualification %> Time
</h3>

<p>
  <strong>Discipline:</strong>
  <%= @qualification_time.discipline.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @qualification_time.gender %>
</p>

<p>
  <strong>Age</strong>
  <%= @qualification_time.age_min %>
    -
  <%= @qualification_time.age_max %>
</p>

<p>
  <strong>Time:</strong>
  <%= time_to_msc @qualification_time.time %>
</p>

<% if can? :update, @qualification_time %>
  <%= link_to 'Edit', edit_qualification_time_path(@qualification_time) %> |
<% end %>
<% if can? :destroy, @qualification_time %>
  <%= link_to 'Destroy', @qualification_time, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', qualification_times_path %>
