<%= form_with(model: assignment, local: true) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @assignment.user %></h3>
  <%= form.hidden_field :user_id %>

  <div class="field">
    <%= form.label :role_id %><br />
    <%= form.select :role_id, options_from_collection_for_select(Role.all, 'id', 'name') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
