<p>
  <strong>Role:</strong>
  <%= @assignment.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @assignment.user %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
