<%= form_with(model: docket, local: true) do |form| %>
  <% if docket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docket.errors.count, "error") %> prohibited this docket from being saved:</h2>

      <ul>
      <% docket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3><%= @docket.competition.name %> (<%= @docket.competition.date %>)</h3>

<h1><%= @docket.swimmer.name %></h1>

  <%= form.hidden_field :invitation_id %>
  <%= form.hidden_field :swimmer_id %>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
