<h3><%= @competition.name %>
(<%= @competition.location %>, <%= @competition.date %>)</h3>

<h1><%= @club.name %></h1>

<p>The following swimmers are registered to swim for
<%= @club.full_name %> at the
<%= @competition.name %>.
Click or unclick to change their status, then press
the button to submit changes.</p>

<%= form_with(model: @invitation, local: true) do |form| %>
  <%= hidden_field_tag :club_id, @club.id %>

<% Swimmer::GENDERS.each do |sex| %>
<div style="float: left">
<table class="fact-sheet">
  <% @club.swimmers.where(gender: sex).each do |swimmer| %>
<tr class="fact-major">
<td>    <%= check_box_tag("invitation[swimmer_ids][]", swimmer.id,
    @invitation.swimmers.include?(swimmer)) %> </td>
<td>        <%= swimmer.name %> </td>
</tr>
    <% end %>
</table>
</div>
&nbsp;
<% end %>
<br style="clear: left;" />
<br />
<%= form.submit "Submit Registrations" %>
<% end %>

<br />

<script type="text/javascript" charset="utf-8">
var checkboxes = [];
$$('input').each(function(e){ if(e.type == 'checkbox') checkboxes.push(e) });
</script>
