<% content_for :level do %>
  <h3><%= @docket.invitation.club %></h3>
  <% @docket.invitation.dockets.group_by(&:gender).each do |gender, dockets| %>
    <h4><%= { 'F' => 'Girls', 'M' => 'Boys' }[gender] %></h4>
    <ul><%= render dockets.sort_by(&:name) %></ul>
  <% end %>
<% end %>


<h3><%= link_to @docket.competition.name, @docket.competition %></h3>
<%= @docket.competition.course %>:
<%= @docket.competition.location_dates %>
<h1><%= link_to @docket.name, @docket.swimmer %> (<%= link_to @docket.invitation.club.symbol, @docket.invitation %>)</h1>

<div>
  <%= @docket.age %> <%= @docket.gender %>,
  <b>ID:</b>
  <%= @docket.number %>.
<div>
<br />
<br />

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th>Result</th>
    <th>Plc</th>
    <th>PB</th>
  </tr>
  <% nr_swims, nr_pbs, pb_total = 0, 0, 0 %>
  <% @docket.entries.sort_by { |x| x.event.pos }.each do |entry| %>
    <%= render partial: 'entries/one_entry', locals: { entry: entry } %>
  <% end %>
</table>
<p>
  <%= pluralize(@docket.results.count, "Result") %> in
  <%= pluralize(@docket.entries.count, "Event") %>,
  PB total: <%= time_to_msc(@docket.personal_best) %>.
</p>
<hr>
<% if can? :update, @docket %>
<%= link_to 'Edit', edit_docket_path(@docket) %> |
<% end %>
<% if can? :destroy, @docket %>
<%= link_to 'Destroy', @docket, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @docket.invitation %>
