<% if @best %>
<p>
  <b><%= @best.course %> PB:</b> <%= @best %>
  <br />
  (<%= @best.competition %>)
</p>
<% end %>
<% if @cobest %>
<p>
  <% conversion = @cobest.conversion %>
  <b><%= @cobest.course %> PB:</b> <%= @cobest %>
  <% if conversion %>
    (converts to <b><%= { 'SC' => 'LC', 'LC' => 'SC' }[@cobest.course] %></b>
    <%= time_to_msc @cobest.conversion %>)
  <% end %>
  <br />
  (<%= @cobest.competition %>)
</p>
<% end %>
<br />
