<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :event_id %>
  <%= form.hidden_field :subject_id %>
  <%= form.hidden_field :subject_type %>

  <h2><%= @entry.event.competition.name %></h2>
  <h3><%= @entry.event.pos %>. <%= @entry.event.discipline.name %></h3>

  <h1><%= @entry.name %> (<%= @entry.club.symbol %>)</h1>

  <div class="field">
    <%= form.label :time, "Seed Time" %>
    <%= form.text_field :mins, size: 2 %>:<%= form.text_field :secs, size: 2 %>.<%= form.text_field :cens, size: 2 %>
  </div>

  <div class="field">
    <%= form.label :stage %>
    <% form.select :stage, Entry::STAGES %>
  </div>

  <div class="field">
    <%= form.label :lane %>
    <%= form.number_field :lane %>
  </div>

  <div class="field">
    <%= form.label :heat %>
    <%= form.number_field :heat %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.number_field :group %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
