<% content_for :level do %>
<h3><%= @entry.swimmer %></h3>
<ul>
  <% @entry.subject.entries.sort_by(&:pos).each do |entry| %>
    <li>
      <%= entry.event.pos %>.
      <%= link_to_unless_current entry.discipline.nickname, entry %>
    </li>
  <% end %>
</ul>
<% end %>

<h3><%= link_to @entry.competition.name, @entry.competition %></h3>
<%= @entry.competition.course %>:
<%= @entry.competition.location_dates %>
<h1><%= link_to @entry.name, @entry.subject %> (<%= link_to @entry.club.symbol, @entry.invitation %>)</h1>

<div>
  <%= @entry.age %> <%= @entry.gender %>,
  <b>ID:</b>
  <%= @entry.number %>.
<div>
<br>

<%= render 'best' %>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th>Result</th>
    <th>Plc</th>
    <th>PB</th>
  </tr>

  <%= render partial: 'one_entry', locals: { entry: @entry } %>
</table>

<hr>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Heat</th>
    <th>Lane</th>
  </tr>

  <tr class="times-major">
  <td><%= link_to @entry.event.pos, @entry.event %>.</td>
  <td style="text-align: right;">
    <%= @entry.heat %>
  </td>
  <td style="text-align: right;">
    <%= @entry.lane %>
  </td>
  </tr>
</table>

<hr>

<% if can? :update, @entry %>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<% end %>
<% if can? :destroy, @entry %>
<%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @entry.invitation %>
