<%= form_with(model: competition, local: true) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %><br />
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :course %><br />
    <%= form.select :course, Discipline::COURSES %>
  </div>

  <div class="field">
    <%= form.label :date, 'Start Date' %><br />
    <%= form.date_select :date, order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= form.label :length %><br />
    <%= form.text_field :length, size: 4 %> Days
  </div>


  <div class="field">
    <%= form.label :age_up, 'Age Up' %><br />
    <%= form.date_select :age_up,
	default: Date.today.end_of_year(),
	order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= form.label :source %><br />
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :source_url %><br />
    <%= form.text_field :source_url %>
  </div>

  <div class="field">
    <%= form.label :source_date %><br />
    <%= form.date_select :source_date, :order => [:day, :month, :year] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
