<h3 class="edit-head">Participating Clubs</h3>
<% if can? :update, @competition %>
  <div class="edit">
    <%= link_to '[+]', new_invitation_path(competition_id: @competition) %>
  </div>
<% end %>
<br />
<br />
<table class="fact-sheet">
<% @invitations.sort_by { |x| x.club.full_name }.each do |invitation| %>
  <tr class="fact-major">
    <td><%= link_to invitation.club.name, invitation %></td>
    <td align="right"><%= pluralize(invitation.dockets.size, 'swimmer') %> in</td>
    <td align="right"><%= pluralize(invitation.entries.size, 'event') %></td>
    <% if can? :update, @competition %>
      <td><%= link_to image_tag('delete.png', class: "icon"), invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
