<h3 class="edit-head">Qualification Standards:</h3>
<% if can? :update, @competition %>
  <div class="edit">
    <%= link_to '[+]', new_standard_path(competition_id: @competition) %>
  </div>
<% end %>

<ul style="padding: 0; margin: 0; display: inline;">
<% @competition.standards.each do |standard| %>
  <li style="list-style:none; display:inline; border: 1px solid blue; background: lightyellow; padding: 2px 4px; margin: 4px; border-radius: 4px;">
    <%= link_to standard.qualification.name, standard.qualification -%>
    <% if can? :destroy, @competition %>
      <%= link_to image_tag('delete.png', class: "icon"), standard, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>

