<h3><%= link_to 'Competitions', competitions_path %></h3>

<h1><%= @competition.name %></h1>

<p>
  <%= @competition.location %>
  (<%= @competition.dates %>, <%= @competition.course %>)<br />
</p>

<%= content_tag(:p, "Age up: #{@competition.age_up}.") if @competition.age_up %>

<% if @competition.source.present? %>
<p>
<b>Reference:</b>
<%= link_to @competition.source, @competition.source_url %>,
<%= @competition.source_date %>.
</p>
<% end %>

<% relay_count = @competition.relays.size %>
<% relay_text = (relay_count > 0 ? " and #{pluralize(relay_count, 'relay entry')}" : "") %>
<%= pluralize(@invitations.size, 'club has', 'clubs have') %> registered
<%= pluralize(@competition.dockets.size, 'swimmer') %> for
<%= pluralize(@competition.entries.size, 'individual entry') + relay_text + "." %>

<br />
<br />
<%= render 'qualifications' %>
<br />
<br />
<%= render 'invitations' %>
<br />
<br />
<%= render 'events' %>

<hr/>
<% if can? :update, @competition %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
<% if can? :destroy, @competition %>
<%= link_to 'Destroy', @competition, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% if can? :update, @competition %>
<%= link_to 'Programme (pdf)', competition_path(@competition, format: :tex), target: "_blank" %> |
<%= link_to 'Heats (pdf)', heats_path(competition_id: @competition.id, format: :tex), target: "_blank" %> |
<%= link_to 'Lanes (pdf)', lanes_path(competition_id: @competition.id, format: :tex), target: "_blank" %> |
<%= link_to 'Results (pdf)', results_path(competition_id: @competition.id, format: :tex), target: "_blank" %> |
<% end %>
<%= link_to 'Back', competitions_path %>
