<h3>My account</h3>

<h1><%= @user %></h1>

<p>
  &lt;
  <code><%= @user.email %></code>
  &gt;
</p>

<% if can? :destroy, @user %>
<table>
  <tr>
    <td>Sign in count:</td>
    <td><%= @user.sign_in_count %></td>
  </tr>
  <tr>
    <td>Signed in since:</td>
    <td><%= @user.current_sign_in_at %></td>
    <td>from:</td>
    <td><%= @user.current_sign_in_ip %></td>
  </tr>
  <tr>
    <td>Last signed in:</td>
    <td><%= @user.last_sign_in_at %></td>
    <td>from:</td>
    <td><%= @user.last_sign_in_ip %></td>
  </tr>
</table>
<br />
<% end %>

<% if can? :destroy, @user %>
<h3 class="edit-head"><%= pluralize(@user.roles.count, 'Role') %></h3>
<div class="edit">
<%= link_to '[+]', new_assignment_path(user_id: @user) %>
</div>
<ul>
<% @user.assignments.each do |assignment| %>
<li>
<%= link_to assignment.role, assignment.role %>
<div class="edit">
<%= link_to '[-]', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</li>
<% end %>
</ul>
<% end %>

<% if @user.supports.any? %>
<h3 class="edit-head">Supports:</h3>
<div class="edit">
<%= link_to '[+]', new_support_path(user_id: @user) %>
</div>
<ul>
<% @user.supports.each do |support| %>
<% swimmer = support.swimmer %>
<li>
<%= link_to swimmer.first_last, swimmer %>
(<%= link_to swimmer.club.symbol, swimmer.club %>)
<div class="edit">
<%= link_to '[-]', support, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</li>
<% end %>
</ul>
<% end %>

<hr />
<% if can? :update, @user%>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Support', new_support_path(user_id: @user) %> |
<% end %>
<%= link_to 'Edit account details', edit_user_registration_path %> |
<%= link_to 'Back', :back %>
