<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :entry_id %>

<% entry = @result.entry %>
<% competition = entry.competition %>
<% swimmer = entry.swimmer %>

<h3><%= link_to competition.name, competition %> (<%= competition.location %>, <%= competition.date %>)</h3>
<h1><%= link_to swimmer.name, swimmer %> (<%= link_to entry.club.symbol, entry.invitation %>)</h1>

<div>
  <b>Age (F/M):</b>
  <%= entry.age %> (<%= entry.gender %>),
  <b>ID:</b>
  <%= entry.number %>.
<div>
<br />
<br />

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th></th>
    <th><%= form.label :place, 'Plc' %></th>
    <th><%= form.label :time, "Result" %></th>
    <th>(Seed)</th>
  </tr>
    <tr class="times-major">
      <th><%= link_to entry.event.pos, entry.event %>.</th>
      <th><%= entry.discipline.nickname %></th>
      <td>
	<% Result::STAGES.each do |stage| %>
          <%= form.label :stage, stage %>
          <%= form.radio_button :stage, stage %>
        <% end %>
      </td>
      <td style="text-align: right;">
        <%= form.text_field :place, size: 4 %>
      </td>
      <td style="text-align: right;">
        <%= form.text_field :mins, size: 2 %>:<%= form.text_field :secs, size: 2 %>.<%= form.text_field :cens, size: 2 %>
      </td>
      <td style="text-align: right;">(<%= entry %>)</td>
    </tr>
</table>
<br />
<br />
  <div class="field">
    <%= form.label :comment %>:
    <ul style="padding: 0; margin: 0; display: inline;">
      <% %w(DQ DNS DNF NS).each do |text| %>
        <li style="list-style:none; display:inline; border: 1px solid blue; background: lightyellow; padding:2px 4px; margin: 4px; border-radius: 4px;">
          <%= form.radio_button :comment, text %>
          <%= text %>
        </li>
      <% end %>
        <li style="list-style:none; display:inline; border: 1px solid blue; background: lightyellow; padding:2px 4px; margin: 4px; border-radius: 4px;">
          <%= form.radio_button :comment, "" %>
          (None)
        </li>
    </ul>
  </div>

<!-- ----------------------------------------------------------
  <div class="field">
    <%= form.label :heat %>
    <%= form.number_field :heat %>
  </div>

  <div class="field">
    <%= form.label :lane %>
    <%= form.number_field :lane %>
  </div>
-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
