<% competition = invitation.competition %>

<h3>
  <%= link_to competition.name, competition %>
  (<%= competition.location %>, <%= competition.dates %>)
</h3>

<h1><%= link_to invitation.club.name, invitation %></h1>

<h3>Results</h3>

<% nr_swims, nr_pbs = 0, 0 %>

<% competition.days.each do |day| %>
<% if competition.length > 1 %>
<h4>Day <%= day %> (<%= competition.date + (day - 1).days %>)</h4>
<% end %>

<% invitation.dockets_for_day(day).group_by(&:gender).each do |gender, dockets| %>
  <% events = dockets.map(&:events).reduce(:|).select { |x| x.day == day }.sort_by(&:pos) %>
<% if events.any? %>
  <div style="overflow-x:auto;">
  <table class="fact-sheet">
    <tr class="times-major">
      <th>Swimmer (<%= gender %>)</th>
      <th>Age</th>
      <% events.each do |event| %>
        <th colspan="2"><%= event.discipline.nickname %></th>
      <% end %>
    </tr>
    <% dockets.sort_by { |x| x.swimmer.name }.each do |docket| %>
      <% swimmer = docket.swimmer %>
      <% entries = docket.entries.group_by(&:event) %>
      <tr class="times-major">
        <td style="white-space: nowrap"><%= link_to swimmer.name, docket %></td>
        <td align="right"><%= docket.age %></td>
        <% events.each do |event| %>
          <td align="right">
  	    <% entry = entries[event].first if entries[event].present? %>
            <% if entry and entry.results.present? %>
              <% result = best_result(entry.results) %>
              <%= link_to result, result if result %>
              </td>
              <td style="white-space: nowrap">
              <% if result and result.time and result.time > 0 %>
                <%= "(#{result.place}.)" if result.place %>
                <% nr_swims += 1%>
                <% if result.personal_best? %>
                  * <% nr_pbs += 1 %>
                <% end %>
                <% qu = result.qualify %>
                <%= qu and qu[:qualification].short %>
              <% end %>
            <% else %>
              </td>
              <td>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  </div>
  <br />
<% end %>
<% end %>
<% end %>

<% if nr_swims > 0 %>
<p>
  <%= pluralize(nr_swims, "Result") %>
  (<%= "%.2f" % [100.0 * nr_pbs/nr_swims] %>% PB)
</p>
<% end %>

<hr/>
<%= link_to 'Back', invitation %>
