<tr class="fact-major">
  <td align="right"><%= ordinal_number(result.place) %></td>
  <td style="white-space: nowrap"><%= link_to result.entry.name, result.entry.subject %></td>
  <td align="right"><%= result.entry.age %></td>
  <td><%= result.entry.club.symbol %></td>
  <td align="right">(<%= result.entry %>)</td>
  <td align="right">
    <% qu = result.entry.qualify %>
    <% if qu %>
      <%= qu[:qualification].short %>
    <% end %>
  </td>
  <td align="right"><%= link_to result, result %></td>
  <td align="right">
    <% qu = result.qualify %>
    <% if qu %>
      <%= qu[:qualification].short %>
    <% end %>
  </td>
</tr>
