<% if @event %>
  <%= render partial: 'event', object: @event %>
<% elsif @invitation %>
  <%= render partial: 'invitation', object: @invitation %>
<% elsif @competition %>
  <%= render partial: 'competition', object: @competition %>
<% elsif @club %>
  <%= render partial: 'club', object: @club %>
<% else %>
  <%= render @results %>
<% end %>
