<h3><%= link_to @result.competition.name, @result.competition %> (<%= @result.competition.location %>, <%= @result.competition.date %>)</h3>
<h1><%= link_to @result.name, @result.entry.subject %> (<%= link_to @result.symbol, @result.invitation %>)</h1>

<div>
  <b>Age (F/M):</b>
  <%= @result.entry.age %> (<%= @result.gender %>),
  <b>ID:</b>
  <%= @result.swimmer.number %>.
<div>
<br>
<br>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th>(Seed)</th>
    <th>Plc</th>
    <th>Result</th>
    <th></th>
  </tr>
  <tr class="times-major">
    <th><%= link_to @result.event.pos, @result.event %>.</th>
    <th><%= link_to @result.discipline.nickname, swimmer_path(@result.swimmer, discipline_id: @result.discipline) %></th>
    <td style="text-align: right;">(<%= @result.entry %>)</td>
    <td style="text-align: right;"><%= "#{@result.place}." if @result.place %></td>
    <td style="text-align: right;">
      <%= link_to_if(can?(:edit, @result), @result, edit_result_path(@result)) if @result %>
    </td>
    <td><%= @result.stage %></td>
  </tr>
</table>

<% if @result.splits.any? %>
Splits
  <table class="fact-sheet">
    <% @result.laps.each do |split| %>
      <tr class="times-major">
	<td style="text-align: right;"><%= split.length %></td>
	<td style="text-align: right;"><%= time_to_msc split.lap %></td>
	<td style="text-align: right;"><%= time_to_msc split.time %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<hr>

<% if can? :update, @result %>
<%= link_to 'Edit', edit_result_path(@result) %> |
<% end %>
<% if can? :destroy, @result %>
<%= link_to 'Destroy', @result, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @result.entry.event %>
