<tr class="fact-major">
  <td align="right"><%= index + 1 %>.</td>
  <td><%= link_to entry.first_last, entry.subject %></td>
  <td align="right"><%= entry.age %></td>
  <td><%= entry.club.symbol %></td>
  <td align="right">(<%= entry %>)</td>
</tr>

