\subsection*{Event <%= event.to_words %>}

<% times_by_range = event.qtimes_by_range %>
<% if times_by_range.any? %>
\begin{center}
\tablefirsthead{}
\tablehead{}
\tabletail{}
\tablelasttail{}
<% qualifications = event.competition.qualifications %>
<% ranges = times_by_range.keys.sort_by(&:last) %>
\begin{supertabular}{|l<%= 'r' * qualifications.count %>|}
\toprule
Age Range
<% qualifications.each do |qualification| %>
& <%= qualification.name %>
<% end %> \\
\midrule
<% ranges.each do |range| %>
<% times = times_by_range[range].index_by(&:qualification) %>
<%= ages_to_words(range) %>
<% qualifications.each do |qualification| %>
& <%= times[qualification] %>
<% end %> \\
<% end %>
\bottomrule
\end{supertabular}
\end{center}
<% end %>

\begin{center}
\tablefirsthead{%
\toprule
& {\footnotesize Name, Age} & {\footnotesize Team} & \hbox to 13mm{}\llap{\footnotesize Seed Time} & {\footnotesize Result} \\
\midrule%
}
\tablehead{%
\toprule
\multicolumn{4}{l}{\textbf{\ldots\ Event <%= event.to_words %>}}\\
\midrule%
& {\footnotesize Name, Age} & {\footnotesize Team} & \hbox to 13mm{}\llap{\footnotesize Seed Time} & {\footnotesize Result} \\
\midrule%
}
\tabletail{%
&&&&\ldots\\
}
\tablelasttail{%
\bottomrule%
}
\begin{supertabular}{r@{ }p{36mm}p{8mm}rc}
<% event.entries_for_seeding.each.with_index(1) do |entry, index| %>
  <%= render partial: 'events/entry', object: entry, locals: { index: index } -%>
<% end %>
\end{supertabular}
\end{center}
