<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :competition_id %>

  <fieldset class="white">
    <legend class="white"><%= form.label :pos, "Event" %></legend>
    <div style="float:left">
      <b>Number</b>
      <%= form.select :pos, available_poss(@event.competition, @event) %>
    </div>
    <div style="float:left">
      &nbsp;
      &nbsp;
      &nbsp;
    </div>
    <div style="float:left">
      <b>Stage</b>
      <% Event::STAGES.each do |stage| %>
      <%= form.label :stage, stage %>
      <%= form.radio_button :stage, stage %>
      <% end %>
    </div>
    <% if @event.competition.length > 1 %>
      <div style="float:right">
        <b>Day</b>
        <% @event.competition.days.each do |day| %>
          <%= form.label :day, day %>
          <%= form.radio_button :day, day %>
        <% end %>
      </div>
    <% else %>
      <%= form.hidden_field :day %>
    <% end %>
  </fieldset>
  <br />

  <fieldset class="white">
    <legend class="white"><%= form.label :discipline_id %></legend>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Gender</th><tr>
    <% Event::GENDERS.each do |gender| %>
      <tr><td align="right"><%= form.label :gender, gender %></td>
      <td><%= form.radio_button :gender, gender %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Distance</th><tr>
    <% Discipline::DISTANCES.each do |distance| %>
      <tr><td align="right"><%= form.label :distance, distance %></td>
      <td><%= form.radio_button :distance, distance %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Course</th><tr>
    <% Discipline::COURSES.each do |course| %>
      <tr><td align="right"><%= form.label :course, course %></td>
      <td><%= form.radio_button :course, course %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Stroke</th><tr>
    <% Discipline::STROKES.each do |stroke| %>
      <tr><td align="right"><%= form.label :stroke, stroke %></td>
      <td><%= form.radio_button :stroke, stroke %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Mode</th><tr>
    <% Discipline::MODES.each do |mode| %>
      <tr><td align="right"><%= form.label :mode, mode %></td>
      <td><%= form.radio_button :mode, mode %></td></tr>
    <% end %>
    </table>
  </div>
  <br style="clear:left" />
  </fieldset>
  <br />

  <fieldset class="white">
    <legend class="white">Age Range</legend>
    <%= form.label :age_min, "from" %>
    <%= form.text_field :age_min, size: 2 %>
    <%= form.label :age_max, "to" %>
    <%= form.text_field :age_max, size: 2 %>
  </fieldset>
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
