<% content_for :level do %>
  <h3><%= @event.competition.name %></h3>
  <ul><%= render partial: "level_event", collection: @event.competition.events %></ul>
<% end %>

<%= render 'navigation' %>

<% times_by_range = @event.qtimes_by_range %>
<% if times_by_range.any? %>
<% qualifications = @event.competition.qualifications %>
<% ranges = times_by_range.keys.sort_by(&:last) %>
<table class="fact-sheet">
<tr class="fact-major">
<th>Age Range</th>
<% qualifications.each do |qualification| %>
<th><%= qualification.name %></th>
<% end %>
</tr>
<% ranges.each do |range| %>
<% times = times_by_range[range].index_by(&:qualification) %>
<tr class="fact-major">
<td><%= ages_to_words(range) %></td>
<% qualifications.each do |qualification| %>
<td><%= times[qualification] %></td>
<% end %>
</tr>
<% end %>
</table>
<% end %>


<h2>Entries.</h2>

<table class="fact-sheet">

<tr class="fact-major">
<th></th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>(Seed)</th>
</tr>
<% @event.entries_for_seeding.each_with_index do |entry, index| %>
  <%= render partial: 'entry', object: entry, locals: { index: index } %>
<% end %>
</table>

<br />
<hr />

<% if can? :update, @event %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', @event.competition %>
