<%= form_with(model: aim, local: true) do |form| %>
  <% if aim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aim.errors.count, "error") %> prohibited this aim from being saved:</h2>

      <ul>
      <% aim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @aim.swimmer.first_last %></h3>

  <%= form.hidden_field :swimmer_id %>

  <div class="field">
    <%= form.label :qualification_id %><br />
    <%= form.select :qualification_id, Qualification.all.map{ |x| [x.name, x.id] } %>
  </div>

  <div class="field">
    <%= form.label :date %><br />
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
