<h3><%= link_to @aim.swimmer.first_last, @aim.swimmer %></h3>

<h1>
  Aim: <%= link_to @aim.qualification.name, @aim.qualification %>
</h1>

<p>
  <b>By Date:</b>
  <%= @aim.date %>
</p>

<% if @times.any? %>
<h3>
  <%= gender_word @aim.gender %> (<%= @aim.age %>)
</h3>

<table class="fact-sheet">
  <tr class="pb-hi">
    <th class="pb-tl" style="width:84px"></th>
    <% Discipline::STROKES.each do |stroke| %>
      <th style="width:84px">
        <%= short_stroke_name(stroke) %>
      </th>
    <% end %>
  </tr>
  <% @times.group_by(&:distance_course).sort_by { |key, value| [key[0..-5].to_i, 100-key[-2].ord] }.each do |label, times_by_label| %>
    <tr class="pb-lo" align="right">
      <th><%= label %></th>
      <% times_by_stroke = times_by_label.group_by(&:stroke) %>
      <% Discipline::STROKES.each do |stroke| %>
        <% qt = times_by_stroke[stroke] %>
        <% if qt %>
          <% qt = qt.first %>
          <% pb = @aim.swimmer.personal_best(qt.discipline) %>
          <% if pb %>
            <% time = qt.time - pb.time %>
            <%= content_tag(:td, time_to_msc(time), class: time < 0 ? "slow" : "fast") %>
          <% else %>
            <%= content_tag(:td, qt, style: "color:lightgray") %>
          <% end %>
        <% else %>
          <%= content_tag :td %>
        <% end %>
      <% end %>
    <tr>
  <% end %>
</table>
<% end%>
<br />

<p>
The table shows the <b>difference</b> between the <b>swimmer's PB</b> and the
<b>qualification time</b> required for the swimmer's age at the above date.
<%= content_tag :span, "Green fields", style: "background-color: #99CC99" %> indicate disciplines where the qualification standard has been achieved,
<%= content_tag :span, "Red fields", style: "background-color: #FF9999" %> indicate disciplines where it hasn't yet.
</p>
<hr />

<% if can? :update, @aim %>
  <%= link_to 'Edit', edit_aim_path(@aim) %> |
<% end %>
<% if can? :destroy, @aim %>
  <%= link_to 'Delete', @aim, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @aim.swimmer %>
