<%= form_with(model: invitation, local: true) do |form| %>
  <% if invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @invitation.competition.name %></h2>

  <%= form.hidden_field :competition_id %>

  <div class="field">
    <%= form.label :club_id %><br />
    <%= form.select :club_id, (Club.all - @invitation.competition.clubs).map{ |x| [x.name, x.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
