<% if @invitation.relays.any? %>
<% events = @invitation.competition.relay_events %>
<h3>Relay Teams</h3>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Name</th>
    <th>F/M</th>
    <th>Ages</th>
    <% events.each do |event| %>
      <th><span title="<%= event.pos %>. <%= event.discipline.name %>"><%= sprintf("%02d", event.pos) %></span></th>
    <% end %>
  </tr>
  <% @invitation.relays.each_with_index do |relay, index| %>
  <tr class="times-major">
      <% entries_by_event = relay.entries.index_by(&:event) %>
      <td>R<%= index + 1 %></td>
      <td><%= link_to relay.name, relay %></td>
      <td><%= relay.gender %></td>
      <td align="right"><%= ages_to_words(relay.age_range) %></td>
      <% events.each do |event| %>
        <% entry = entries_by_event[event] %>
        <td align="center">
	<% if entry %>
          <%= link_to entry, entry %>
	<% else %>
          <% if can?(:update, relay) and event.permits_relay? relay %>
	    <%= link_to (raw "&square;"), new_entry_path(event_id: event, subject_id: relay, subject_type: "Relay") %>
          <% end %>
        <% end %>
        </td>
      <% end %>
  </tr>
  <% end %>
</table>
<br />
<br />
<% end %>

<% if can? :update, @invitation %>
  <%= link_to 'Add Relay Team', new_relay_path(invitation_id: @invitation) %>
<% end %>
