<% competition = @invitation.competition %>
<% relays_by_gender = @relays.group_by(&:gender) %>
<% relays_by_gender.default = [] %>
<% events_by_gender = @events.group_by(&:gender) %>
<% events_by_gender.default = [] %>

<% competition.days.each do |day| %>
<% if competition.length > 1 %>
<h4>Day <%= day %> (<%= competition.date + (day - 1).days %>)</h4>
<% end %>

<% @dockets.group_by(&:gender).each do |gender, dockets| %>

  <% events = (events_by_gender[gender] + events_by_gender['X']).group_by(&:day)[day] || [] %>
  <% events = events.select { |event| not event.is_relay? } %>
<% if events.any? %>

  <% relays = relays_by_gender[gender] + relays_by_gender['X'] %>
  <table class="fact-sheet">
    <tr class="times-major">
      <th>Swimmer (<%= gender %>)</th>
      <th>Birthday</th>
      <th>Age</th>
      <% events.each do |event| %>
        <th>
          <span title="<%= event.pos %>. <%= event.discipline.name %>">
            <%= event.pos %>. <%= event.discipline.distance %>m
            <br />
            <%= short_stroke_name(event.discipline.stroke) %>
          </span>
        </th>
      <% end %>
      <% relays.each do |relay| %>
        <th>
          <%= content_tag :span, title: relay.name do %>
            R<%= @relays.index(relay) + 1 %>
          <% end %>
        </th>
      <% end %>
    </tr>
    <% dockets.sort_by(&:name).each do |docket| %>
      <% swimmer = docket.swimmer %>
      <% entries_by_event = docket.entries.index_by(&:event) %>
      <tr class="times-major">
        <td style="white-space: nowrap"><%= link_to swimmer.name, docket %></td>
        <td><%= swimmer.birthday %></td>
        <td align="right"><%= docket.age %></td>
        <% events.each do |event| %>
          <% entry = entries_by_event[event] %>
          <td align="center">
	  <% if entry %>
            <%= link_to entry, entry %>
	  <% else %>
            <% if can?(:update, docket) and event.permits? docket %>
              <%= link_to (raw "&square;"), new_entry_path(event_id: event, subject_id: docket, subject_type: "Docket") %>
            <% end %>
          <% end %>
          </td>
        <% end %>
        <% relays.each do |relay| %>
          <td align="center">
            <% seat = Seat.find_by_docket_id_and_relay_id(docket, relay) %>
	    <% if seat %>
              <%= link_to 'X', seat %>
	    <% elsif relay.permits? docket %>
	      <%= link_to '_', new_seat_path(relay_id: relay, docket_id: docket) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br />
  <br />
<% end %>
<% end %>

<% end %>

<% if can? :update, @invitation %>
  <%= link_to 'Register Swimmers', dockets_path(invitation_id: @invitation) %>
<% end %>
