<% competition = @competition %>

<% content_for :level do %>
  <h3><%= competition.name %></h3>
  <ul>
    <% @invitations.sort_by { |x| x.club.full_name }.each do |invitation| %>
      <li>
        <%= link_to_unless_current invitation.club.name, invitation %>
      </li>
    <% end %>
  </ul>
<% end %>

<% club = @invitation.club %>
<h3>
  <%= link_to competition.name, competition %>
  (<%= competition.location_dates %>)
</h3>

<h1><%= link_to club.name, club %></h1>

<p>
<%= pluralize(@dockets.size, "registered swimmer") %>
for a total of
<%= pluralize(@invitation.i_entries_count, "individual event") -%>
<% if @invitation.relays.present? %>
&nbsp;and
<%= pluralize(@invitation.r_entries_count, "relay event") -%>
<% end %>
.
</p>


<h3 class="edit-head">Qualifications:</h3>
<ul style="padding: 0; margin: 0; display: inline;">
<% competition.standards.each do |standard| %>
  <li style="list-style:none; display:inline; border: 1px solid blue; background: lightyellow; padding:2px 4px; margin: 4px; border-radius: 4px;">
    <%= link_to standard.qualification.name, standard.qualification %></li>
<% end %>
</ul>


<h3>Events</h3>

<table class="fact-sheet">
  <%= render @events %>
</table>

<br />

<h3>Entries</h3>

<%= render partial: 'swimmers', locals: { club: club } %>

<% if @events.select { |x| x.is_relay? }.any? %>
<br />
<hr />
<%= render partial: 'relays', locals: { club: club } %>
<% end %>

<hr/>
<%= link_to 'Results', results_path(invitation_id: @invitation) %>
