<p>
  <strong>Result:</strong>
  <%= @split.result %>
</p>

<p>
  <strong>Time:</strong>
  <%= @split.time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @split.length %>
</p>

<%= link_to 'Edit', edit_split_path(@split) %> |
<%= link_to 'Back', splits_path %>
