<%= form_with(model: swimmer, local: true) do |form| %>
  <% if swimmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(swimmer.errors.count, "error") %> prohibited this swimmer from being saved:</h2>

      <ul>
      <% swimmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if form.object.new_record? %>
    <%= form.hidden_field :club_id %>
    <h3><%= @swimmer.club %></h3>
  <% else %>
  <div class="field">
    <%= form.label :club_id, "Club" %><br />
    <%= form.select :club_id, Club.all.map{ |x| [x.name, x.id] }, include_blank: true %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :first %><br />
    <%= form.text_field :first %>
  </div>

  <div class="field">
    <%= form.label :last %><br />
    <%= form.text_field :last %>
  </div>

  <div class="field">
    <%= form.label :birthday %><br />
    <%= form.date_select :birthday,
            default: Time.now - 10.years,
            end_year: Time.now.year - 5,
            start_year: Time.now.year - 20,
            include_blank: true,
            order: [:day, :month, :year] %>
  </div>

  <div class="field">
    <%= form.label :gender %><br />
    <%= form.select :gender, Swimmer::GENDERS, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :number, "Swim Ireland ID" %><br />
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :comment, "Comments" %><br />
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<!-- -------------------------------------------------------------------
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
-->
<% end %>
