<% if @swimmer.aims.any? %>
<h2>Aims.</h2>

<% @swimmer.aims.each do |aim| %>
    <%= link_to aim.qualification.name, aim %>
    <%= aim.date %>

    <% age = @swimmer.age(aim.date) %>
    <% gender = @swimmer.gender %>
    <% times = aim.qualification.qualification_times.select { |x| x.gender == gender and x.age_range.include? age } %>
    <% if times.any? %>
    <h3>
      <%= gender_word gender %> (<%= age %>)
    </h3>

    <table class="fact-sheet">
      <tr class="pb-hi">
        <th class="pb-tl" style="width:84px"></th>
        <% Discipline::STROKES.each do |stroke| %>
          <th style="width:84px"><%= short_stroke_name stroke %></th>
        <% end %>
      </tr>
      <% times.group_by(&:distance_course).sort_by  { |key, value| [key[0..-5].to_i, 100-key[-2].ord] }.each do |label, times_by_label| %>
        <tr class="pb-lo" align="right">
          <th>
            <%= label %>
          </th>
          <% Discipline::STROKES.each do |stroke| %>
            <td>
              <% qt = times_by_label.select { |x| x.stroke == stroke }.first %>
              <%= content_tag(:span, qt, title: "#{qt.fina_points}") if qt %>
            </td>
          <% end %>
        <tr>
      <% end %>
    </table>
    <% end%>
    <br />
    <br />
<% end %>

<% end %>

