<% if @discipline %>
<%= render :partial => 'discipline', :object => @discipline %>
<% else %>
<% content_for :level do %>
  <h3><%= @swimmer.club %></h3>
  <% @swimmer.club.swimmers.group_by(&:gender).each do |gender, swimmers| %>
    <h4><%= gender_word gender %></h4>
    <ul><%= render swimmers %></ul>
  <% end %>
<% end %>

<h3><%= link_to @swimmer.club, @swimmer.club %></h3>

<h1><%= @swimmer.first_last %></h1>

<p>
  <b>Mileage:</b>
  <%= @results.map(&:discipline).map(&:distance).sum %>m in
  <%= time_to_msc(@results.map(&:time).sum) %> mins.
</p>

<p>
  <b>Age (F/M):</b>
  <%= "#{@swimmer.age} (#{@swimmer.gender})" %>
  [<%= @swimmer.birthday %>].
  <b>Swim Ireland ID:</b>
  <%= @swimmer.number %>.
</p>

<% if @swimmer.user and can? :destroy, @swimmer %>
  <p>
    <code><%= @swimmer.user.email %></code>
  </p>
<% end %>

<h2>Personal Best</h2>

<p>
<b>&rsaquo;
Click</b> on the PB time to see the full history of <%= @swimmer.first %>'s
results in a particular stroke.
</p>

<table class="fact-sheet">
<tr class="pb-hi">
  <th class="pb-tl" style="width:84px"></th>
  <% Discipline::STROKES.each do |stroke| %>
    <th style="width:84px"><%= short_stroke_name stroke %></th>
  <% end %>
</tr>

<% @results.group_by(&:distance_course_code).sort.each do |row, results_row| %>
  <% results = results_row.group_by(&:stroke) %>
  <tr class="pb-lo <%= distance_course(row)[-2,2] %>" align="right">
    <th><%= distance_course(row) %></th>
    <% Discipline::STROKES.each do |stroke| %>
      <td style="line-height:14px; padding-top:4px;">
        <% if results[stroke] %>
          <% best = best_result(results[stroke].compact) %>
	  <% if best %>
              <%= link_to best, swimmer_path(:discipline_id => best.discipline) %><br />
              <span style="font-size:x-small;">
              <%= best.date.strftime("%d/%m/%y") %><br />
              <%= best.fina_points %> FINA pts
	      </span>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br/>

<%= render 'atimes' %>

<p>
<%= @swimmer.comment %>
</p>

<%= render 'qualifications' if can? :read, @swimmer.aims.first %>
<% if can? :create, Aim %>
  <%= link_to 'Select Aims', new_aim_path(:swimmer_id => @swimmer) %>
<% end %>


<h2><%= @swimmer.dockets.count %> Competitions.</h2>

<ul>
<% @swimmer.dockets.sort_by(&:date).reverse_each do |docket| %>
  <% competition = docket.competition %>
  <li>
    <%= competition.date %>:
    <%= docket.club.code %> -
    <%= link_to competition.name, docket %>
    (<%= competition.location %>)
  </li>
<% end %>
</ul>

<hr />

<% if can? :update, @swimmer %>
  <%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<% end %>
<% if can? :destroy, @swimmer %>
  <%= link_to 'Destroy', @swimmer, :confirm => 'Are you sure?', :method => :delete  %> |
<% end %>
<%= link_to 'Back', :back %>
<% end %>
