<%= form_with(model: relay, local: true) do |form| %>
  <% if relay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relay.errors.count, "error") %> prohibited this relay from being saved:</h2>

      <ul>
      <% relay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :invitation_id %>

  <h3><%= @relay.club %> @ <%= @relay.competition.name %></h3>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age_min, "Age from" %>
    <%= form.text_field :age_min, size: 2  %>
    <%= form.label :age_max, "to" %>
    <%= form.text_field :age_max, size: 2  %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, Event::GENDERS, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
