<p>
  <strong>Name:</strong>
  <%= @relay.name %>
</p>

<p>
  <strong>Age min:</strong>
  <%= @relay.age_min %>
</p>

<p>
  <strong>Age max:</strong>
  <%= @relay.age_max %>
</p>

<p>
  <strong>Invitation:</strong>
  <%= @relay.invitation %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @relay.gender %>
</p>


<% if can? :update, @relay %>
  <%= link_to 'Edit', edit_relay_path(@relay) %> |
<% end %>
<% if can? :destroy, @relay %>
  <%= link_to 'Destroy', @relay, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', @relay.invitation %>
