<%= form_with(model: support, local: true) do |form| %>
  <% if support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% support.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @support.user %> supports</h3>

  <%= form.hidden_field :user_id %>

  <div class="field">
    <%= form.label :swimmer_id %><br />
    <%= form.select :swimmer_id, Swimmer.all.map{ |x| [x.name, x.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
