<p>
  <strong>Swimmer:</strong>
  <%= @support.swimmer %>
</p>

<p>
  <strong>User:</strong>
  <%= @support.user %>
</p>

<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
