<%= form_with(model: standard, local: true) do |form| %>
  <% if standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
      <% standard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @standard.competition.name %></h2>

  <%= form.hidden_field :competition_id %>

  <div class="field">
    <%= form.label :qualification_id %><br />
    <%= form.select :qualification_id, (Qualification.all - @standard.competition.standards.map { |x| x.qualification }).map{ |x| [x.name, x.id] }, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
