<p>
  <strong>Competition:</strong>
  <%= @standard.competition %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @standard.qualification %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
