<%= form_with(model: stroke, local: true) do |form| %>
  <% if stroke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stroke.errors.count, "error") %> prohibited this stroke from being saved:</h2>

      <ul>
      <% stroke.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :short %>
    <%= form.text_field :short %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
