<p>
  <b>Name:</b>
  <%= stroke.name %>
</p>

<p>
  <b>Short:</b>
  <%= stroke.short %>
</p>

<p>
  <b>Code:</b>
  <%= stroke.code %>
</p>


<%= link_to 'Edit', edit_stroke_path(stroke) %> |
<%= link_to 'Back', strokes_path %>
