<% if @club %>
  <h3>Strokes</h3>
  <h1><%= @club %></h1>
<ul>
  <% @strokes.each do |stroke| %>
    <li>
      <%= link_to stroke, stroke_path(stroke, club_id: @club.id) %>
  </li>
  <% end %>
</ul>
<% else %>
<h1>Strokes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strokes.each do |stroke| %>
      <tr>
        <td><%= stroke.name %></td>
        <td><%= stroke.short %></td>
        <td><%= stroke.code %></td>
        <td><%= link_to 'Show', stroke %></td>
        <td><%= link_to 'Edit', edit_stroke_path(stroke) %></td>
        <td><%= link_to 'Destroy', stroke, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stroke', new_stroke_path %>
<% end %>
