<!DOCTYPE html>
<html>
<head>
  <title>GalaMan</title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body id="manager">
<div id="banner">
<div id="logo">
  <%= link_to "GalaMan", root_path %>
</div>
<div id="admin">
  <% if user_signed_in? %>
  <% user = current_user %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Sign out?' } %>
    (logged in as <%= link_to user, user %>)
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</div>
<%= image_tag "bluefin.png" %>
</div>
<div id="columns">
  <div id="side">
    <%= link_to "Clubs", clubs_path %><br/>
    <%= link_to "Competitions", competitions_path %><br/>
    <%= link_to "Disciplines", disciplines_path %><br/>
    <%= link_to "Qualifications", qualifications_path %><br/>
    <br/>
    <div id="level">
      <%= yield :level %>
    </div>
  </div>
  <div id="main">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
    <br /><br />
  </div>
</div>
</body>
</html>
